body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
p{

    color: dimgray;
}
.half-part{
    width: 40%;
    float: left;
    margin-left: 1%;
    padding: 4%;
}
.half-part img{

width: 100%;
height: 100%;

}
.pink-highlight{

    color: #ea3a6c

}
.background-partOne{
    background-image: url(images/header-bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
section{
    height: 600px;
       
}
.biography-background{
 background-image: url(images/biography-bg.png);
 background-repeat: no-repeat;
 background-size: 100% 100%;

}.work-part{

    width: 26%;
    float: left;
    margin-left: 1%;
    padding: 3%;
}
.text-middle{
    text-align: center;
}
footer{

    text-align: center;
    font-size: 13px;
}
#email-border{
    background-image: linear-gradient(45deg,#ea3ad3,#ea3a6c);
    border-radius: 5px;
margin-top: 40px;
margin-left: 20%;
margin-right: 20%;
margin-bottom: 0px;
padding-top: 30px;
padding-left: 25px;
padding-right: 25px;
padding-bottom: 30px;
}
.email-border-text{
    color: white;
    text-align: center;
    
}
.link-button{
    text-decoration: none;
    border-radius: 5px;
    background-image: linear-gradient(45deg,#ea3ad3,#ea3a6c);
    background-color: orange;
    padding: 10px 20px;
    color: white;
    font-weight: bold;

}
.work-background{
background-image: url(images/latest-work-bg.png);
background-repeat: no-repeat;
 background-size: 100% 100%;


}
.client-background{
background-image: url(images/footer-bg.png);
background-repeat: no-repeat;
 background-size: 100% 100%;
}